@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    padding: 20px;
    margin: 0px;
    font-family: 'Roboto', 'Ubuntu', Arial;
    font-size: 16px;
    line-height: 1.3em;

    background-color: #FAFAFA;
}

table, 
div, 
p, 
table, 
form {
    width: 100%;
    margin: 0px auto 20px auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border: solid 1px #e6e6e6;
    color: #666;
    background-color: #fff
}

    td, th, caption {
        padding: 10px;
    }

    caption {
        color: #fff;
        background-color: #333;
    }

    th {
        color: #000;
        background-color: #e6e6e6;
    }

    td {
        background-color: #FFFFFF;
    }


    .icon {
        width: 35px;
    }

.text-center {
    text-align: center;
}

/*------------------*/

table.forecast {
    margin-bottom: 60px
}

    .forecast th, 
    .forecast td {
        width: 20%;
        text-align: center;
    }

    .forecast tbody td {
        border: solid 1px #e6e6e6;
    }

    .forecast .resume {
        background-color: #f7f7f7;
    }


.temp-min {
    color: #5656ff;
}

.temp-max {
    color: #f75e5e;
}